@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --smalltext: #3b3c4a;
  --textwhite: #ffffff;
  --bordercolor: #e8e8ea;
  --textgrey: #97989f;
  --bgblue: #4b6bfb;
}
body {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: "auto";
  font-weight: "weight";
  font-style: "normal";
}
.singlepage {
  font-family: "Source Serif 4", "serif";
  font-optical-sizing: "auto";
  font-weight: "weight";
  font-style: "normal";
}
.footer {
  font-family: "Plus Jakarta Sans", "sans-serif";
  font-optical-sizing: "auto";
  font-weight: "weight";
  font-style: "normal";
}
